/* app css stylesheet */

body {
    background: url(img/316963.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 70px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.menu {
    list-style: none;
    margin-bottom: 2em;
    padding: 15px .25em 0.25em;
    font-family: "Helvetica";
    font-size: 14px;
}

.menu ul > li {
    display: inline;
}

/*.center   {*/
/*float-left;*/
/*}*/
.container {
    width: 100%;
}

.item-card {
    width: 100%;
    margin-top: 53px;
    background-color: #00142f;
    padding-top: 3px;
    padding-bottom: 5px;
}

.social-icon i {
    color: #989797;
    padding-right: 20px
}

.social-icon i:hover {
    color: #545353;
}

.item-card h2, .item-card p {
    padding-left: 3%;
}

.thumbnail {
    padding: 0;
    border-radius: 0;
    border: none;
}

/*.navbar-default {*/
/*background-color: transparent;*/
/*border: 0;*/
/*padding-top: 30px;*/
/*}*/

.logo {

    width: 325px;
    height: auto;
    z-index: 0;

}
