<div class="item-card item-detail-card col-md-5">
    <p>{{ item.name }}</p>
    <p>{{ item.description }}</p>
    <p>Condition: {{ item.condition }}</p>
    <p>Status: {{ item.status }}</p>

    <img class="img-responsive" src="{{ item.picture }}">

    <button class="btn btn-danger" ng-click="deleteItem()">Delete Item</button>

    <button class="btn btn-primary" ng-init="swapButtonText='Swap'" ng-click="swap()">{{ swapButtonText }}</button>

 <!--   <br> -->
 <!--   <textarea ng-model="newComment"></textarea>
    <button ng-click="submitComment()">Submit Comment</button>
    <br>
    <div ng-repeat="comment in item.comments"
         <p>{{ comment.text }}</p>
 -->
</div>


<div class="item-card item-detail-card col-md-1" ng-init="showItems=false" ng-show="showItems">
    <div ng-repeat="userItem in userItems">
        <div class="row">
            <div class="thumbnail">
                <div class="item-card">
                    {{ userItem.name }}
                    <img class="img-responsive" src="{{ userItem.picture }}">
                </div>
            </div>
        </div>
    </div>
</div>