<!-- <label>Item Picture
    <br>
    <input ng-model="item.picture">
</label>
-->
<div>
    <br/>
    <input type="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
</div>
<br>
<br>

<label>Item Name
    <br>
    <input ng-model="item.name">
</label>
<br>
<br>

<label>Item Description
    <br>
    <textarea ng-model="item.description"></textarea>
</label>
<br>
<br>

<label>Item Condition
    <br>
    <!-- <textarea ng-model="item.condition"></textarea> -->
    <select ng-model="item.condition" ng-options="condition for condition in conditions"></select>
</label>
<br>
<br>


<button ng-click="addItem()">Save New Item</button>